.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#winner {
  color: white;
  font-size: 3rem;
  word-spacing: 5px;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.btn {
  padding: 15px 10px;
  margin: 20px 10px;
  border: none;
  border-radius: 20px;
  background-color: #4ecca3;
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 150px;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0cf1a5;
  color: black;
}
